* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    min-width: 400px;
}

header {
    flex: 0 4em;
    background: rgb(231, 193, 65);
    justify-content: space-between;
}

h1 {
  padding: 0.5em 0.5em;
  color: white;
}

.title {
    color: grey;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}

.login-box {
    border-color: rgb(231, 193, 65);
    border-radius: 3em;
    border-style: solid;
    height: 30em;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 17em;
}

label {
    display: block;
    text-align: left;
    color: grey;
    padding-top: 1em;
    font-size: larger;
}

input {
    text-align: center;
    display: block;
    width: 100%
}

.login-button {
    margin-top: 3em;
}

button {
    margin-top: 2em;
    border-radius: 3em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 0 4em;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: rgb(231, 193, 65);
}

.footer {
    padding: 0.5em 0.5em;
    color: white;
}

@media (max-height: 650px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}